.our-team {
  padding-bottom: 0;
}

.team-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  .team-list-item {
    display: flex;
    position: relative;

    .name {
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }

    &:hover .name {
      opacity: 1;
      transition: 0.5s;
      font-size: 36px;
      font-weight: 400;
      color: #fff;
      background-color: $main-accent-color;
    }
  }

  .photo-container img {
    width: 100%;
    display: block;
  }
}