
.promo {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../img/promo-bg.png");
  background-size: cover;
  font-family: $proxima-nova-font;
  color: #fff;

  .section-btn {
    border-color: #fff;
    background-color: transparent;
  }
}

