.try-our-section {
  min-height: 760px;
  display: flex;
  align-items: center;
  background: url("../img/try-section-bg.png") 50% 50% no-repeat;
  background-size: cover;

  .container {
    display: flex;
    justify-content: center;
  }
}