footer {

  .container {
    min-height: 760px;
    padding-top: 80px;
    background: url("../img/letter-a-bg.png") 50% 0 no-repeat;
  }

  .header-main {
    display: flex;
    align-items: center;
  }

  .logo-main {
    a {
      display: flex;
      align-items: center;
      font-family: $proxima-nova-font;
      font-size: 18px;
      font-weight: 400;
      color: $discription-color;

      img {
        margin-right: 20px;
      }
    }
  }

  .nav-item a {
    font-weight: 400;
    font-size: 18px;
    color: $discription-color;

    &:hover {
      font-weight: 700;
      color: #000;
    }
  }
}