.section-header {
  text-align: center;

  h2 {
    font-size: 60px;
    font-weight: 200;
    color: $section-head-color;

    &::after {
      width: 30px;
      height: 1px;
      margin: 40px auto 0;
      display: block;
      background-color: $main-accent-color;
      content: '';
    }
  }

  p {
    margin-bottom: 100px;
    font-size: 18px;
    font-weight: 400;
    font-family: $proxima-nova-font;
    color: $discription-color;
  }
}